RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301,NE]
Header always set Content-Security-Policy "upgrade-insecure-requests"


# Define custom error pages
ErrorDocument 404 /page-404.html	

# Rewrite rules for clean URLs
RewriteRule ^home$ index.html [L,NC]
RewriteRule ^about$ about.html [L,NC]
RewriteRule ^countries$ countries.html [L,NC]
RewriteRule ^financial-services$ financial-services.html [L,NC]
RewriteRule ^study-abroad-services$ study-abroad-services.html [L,NC]
RewriteRule ^contact$ contact.html [L,NC]

RewriteRule ^siteMap$ sitemap.php [L,NC]







